body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: pan-x, pan-y;
  contain: paint;
}

button {
  --tui-primary: #426ef0;
}

input {
  --tui-primary: #426ef0;
}
